/**/
@import url("https://fonts.googleapis.com/css?family=Pacifico|Roboto:300,700");

#registro,
#login {
  background-color: #ffae12;
}
/* #cajaContenedora {
  display: flex;
  justify-content: center;
  align-items: center;
} */
.form-control {
  margin-top: 10px !important;
}

/****************************NAVBAR****************************************************/
.navbar {
  background-color: #ffae12;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.05);
  min-height: 100px;
  font-size: 1.5rem;
}

.nav-link {
  color: #ffffff;
  margin-right: 30px;
}

.nav-link:hover {
  color: #4e4e4e;
  background-color: #239e5a;
  border-radius: 3px;
}

.logo-brand {
  min-width: 90px;
  max-width: 110px;
}

.navbar-toggler {
  font-size: 40px;
}

.navbar-toggler:focus {
  outline: none;
}
.imgNavbar {
  border-radius: 50% !important;
}

/********************************HEADER***********************************************/
#header {
  background-image: url("../media/header3.jpg");
  background-color: #cccccc;
  height: 400px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.btnFichaje {
  width: 20%;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.titleHeader {
  margin-top: 150px;
  max-width: 815px;
  margin: auto;
  padding-top: 0px;
}

/********************************** CALENDARIO *****************************************************/

#calendarioContenedor {
  width: 1400px;
  margin: auto;
  display: flex;
  justify-content: center;
  margin-top: 50px;
  height: 750px;
}

/*cabecera de la página*/
h1 {
  text-align: center;
  padding: 0.5em;
}
/*div principal del calendario*/
#calendario {
  border: 1px solid #222;
  border-radius: 15px;
  background-color: #fffafa;
  text-align: center;
  width: 100%;
}
/*tabla del calendario*/
#diasc {
  border: 1px solid black;
  border-collapse: separate;
  border-spacing: 4px;
}
#diasc th,
#diasc td {
  font: normal 14pt;
  width: 194px;
  height: 75px;
}
#diasc th {
  color: #e8e8db;
  background-color: #636057;
}
#diasc td {
  color: #494856;
  background-color: #e8e8db;
}
/*línea de la fecha actual*/
#fechaactual {
  font: bold 12pt;
  padding: 0.4em;
}
#fechaactual i {
  cursor: pointer;
}
#fechaactual i:hover {
  color: #494856;
  text-decoration: underline;
}
/*formulario de busqueda de fechas*/
#buscafecha {
  background-color: #494856;
  color: #e8e8db;
  padding: 5px;
}
#buscafecha select,
#buscafecha input {
  background-color: #e8e8db;
  color: #494856;
  font: bold 25pt;
}
#buscafecha [type="text"] {
  text-align: center;
}
#buscafecha [type="button"] {
  cursor: pointer;
}
/*cabecera del calendario*/
#anterior {
  float: left;
  width: 100px;
  font-size: 20px;
  padding: 0.5em 0.1em;
  cursor: pointer;
}
#posterior {
  float: right;
  width: 100px;
  /* font: bold 12pt arial; */
  padding: 0.5em 0.1em;
  cursor: pointer;
  font-size: 20px;
}
#anterior:hover {
  color: #494856;
  text-decoration: underline;
}
#posterior:hover {
  color: #494856;
  text-decoration: underline;
}
#titulos {
  padding: 0.2em;
}
.textoCalendario {
  font-size: 1.5rem;
  background-color: #494856;
}

/*Paleta de colores*/
/* e8e8db
ffdf65
858377
#636057
494856 */

/**********************FIN CALENDARIO****************************************/

/***********************************FICHAJE***************************************/
.imgBackgroundFichaje {
  position: fixed;
}

/* Style the buttons that are used to open and close the accordion panel */
.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active,
.accordion:hover {
  background-color: #ccc;
}

/* Style the accordion panel. Note: hidden by default */
.panel {
  padding: 0 18px;
  background-color: white;
  display: none;
  overflow: hidden;
}
/* #tablaFichaje {
  overflow: auto;
} */

/*********************************BOTON FICHAJE********************************************/

:root {
  --timing: cubic-bezier(0.645, 0.045, 0.355, 1);
  --primary: #f4f7f5;
}

main {
  display: grid;
  place-items: center;
  gap: 1em 0;
}

/* Heading effect */
.heading {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  display: grid;
  grid: auto / auto auto;
}

.heading > span {
  margin-left: 0.25em;
  font-weight: 700;
}

.heading span {
  overflow: hidden;
  display: inline-flex;
  transition: 0.6s;
}
.heading > span,
.heading > span.on span {
  transform: translateY(100%);
  grid-area: 1 / 2;
}
.heading > span span,
.heading > span.on {
  transform: translateY(-100%);
}

.heading.active span.off,
.heading.active span.off span,
.heading:not(.active) span.on,
.heading:not(.active) span.on span {
  transform: none;
}

button {
  --w: 6em;
  --bg: rgb(var(--rgb));
  --bga: rgba(var(--rgb), 0.4); /* Safari fix */
  -webkit-appearance: none;
  border: none;
  font-size: 100%;
  width: var(--w);
  height: var(--w);
  background: var(--bg);
  box-shadow: 0 3px 12px 2px var(--bga);
  border-radius: 50%;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  transition: 0.1s transform, 0.3s box-shadow;
  will-change: transform, box-shadow;
  backface-visibility: hidden;
}

button > * {
  pointer-events: none;
}

button:focus {
  outline: none;
}

button:active {
  transform: scale(0.97);
}

button:after {
  --bg: rgb(var(--rgb));
  content: "";
  position: absolute;
  top: -15%;
  left: -15%;
  width: 200%;
  height: 200%;
  background: var(--bg);
  border-radius: inherit;
  transform: translate(5%, 5%) scale(0.03);
  pointer-events: none;
}

button.animating:after {
  animation: c 0.5s cubic-bezier(0.5, 0, 0.5, 1) backwards;
}

button.active,
button:not(.active):after {
  --rgb: 64, 227, 120;
}

button:not(.active),
button.active:after {
  --rgb: 229, 55, 94;
}

@keyframes c {
  to {
    transform: none;
  }
}

button span {
  display: inline-block;
  position: relative;
  margin-top: 5px;
}
button b {
  --w: 7px;
  overflow: hidden;
  border-radius: var(--w);
  display: grid;
  width: var(--w);
  height: 35px;
  top: 0;
  left: 50%;
  position: absolute;
  transform: translateX(-50%);
  z-index: 3;
  will-change: transform;
}
button b:before {
  content: "";
  background: #fff;
  width: 100%;
  height: 100%;
  border-radius: var(--w);
  transform: translateY(-15px);
  transition-timing-function: var(--timing);
  transition: 0.5s;
}

button.active b:before {
  transform: translateY(12px);
  transition-delay: 0.27s;
  transition-timing-function: cubic-bezier(0.25, 0.25, 0.25, 1.25);
}

button svg {
  --dash: 190;
  stroke-linecap: round;
  stroke-dasharray: var(--dash);
  stroke-dashoffset: var(--dash);
  width: 46px;
  height: 46px;
  transform: scaleX(-1) rotate(-89deg);
  transition: 0.4s;
  transition-timing-function: var(--timing);
  margin: auto;
  position: relative;
  z-index: 1;
  will-change: transform, stroke-dashoffset;
}
button:not(.active) svg {
  stroke-dashoffset: 40;
  transform: scaleX(-1) rotate(-52deg);
  transition: 0.5s 0.25s;
}

aside {
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  text-align: center;
  width: 100%;
  padding: 0 2em 2em;
  font-family: "Pacifico", cursive;
}

aside a {
  text-decoration: underline;
  color: #e65289;
  display: flex;
  align-items: center;
}

aside a:hover,
aside a:focus {
  color: #000;
  text-decoration: none;
}

.dribbble-logo {
  width: 18px;
  height: 18px;
  margin-right: 5px;
}
